@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* bootstrap icons css  */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* bootstrap icons css  */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    overflow-x: hidden;
    /* background-color: #12332c; */
    background: var(--gradient);
}

:root {
    --main-font: "Poppins", sans-serif;
    --main-color: #9E313F;
    --heading-color: #202224;
    --gradient:
    radial-gradient(
        circle at 75% 25%,
        rgba(160, 25, 50, 0.13) 0%,
        transparent 38%
    ),
    radial-gradient(
        circle at 50% 10%,
        rgba(0, 150, 234, 0.20) 0%,
        transparent 50%
    ),
    linear-gradient(
        180deg,
        #031923 0%,
        #041f2e 55%,
        #082c3d 100%
    );
    --bg-wh-light:#0096ea0f;
    --box-bg: #d3e4e7;
    --box-dark-bg: #041f2e;
    --tag-bg: #ffffff;
    --border-color: #e1e1e11f;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s;
    color: inherit;
}

span {
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s;
}

img {
    max-width: 100%;
    object-fit: cover;
}

dl,
ol,
ul {
    margin: 0px;
    padding-left: 0px;
}

p {
    color: #666666;
    font-family: "Inter", sans-serif;
}

.p-32 {
    padding: 32px 0;
}

.p-75 {
    padding: 75px 0;
}

section {
    position: relative;
}

.home-logo {
    text-align: center;
}

.mainSlider {
    width: 100%;
    height: 100vh;
}

.mainSlider .swiper-wrapper {
    height: 100%;
}
ul.Call-list li {
    list-style-type: none;
}
.mainSlider .swiper-slide {
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
}
.home-logo img {
    width: 100%;
    max-width: 200px;
   filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.35));
}

.home-section {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-banner {
    min-height: 100vh;
    padding: 80px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* LOGO DEFAULT */
.logo-animation {
    opacity: 0;
    transform: scale(0.5) rotate(-20deg);
}


/* ACTIVE ANIMATION */
.swiper-slide-active .logo-animation {
    animation: logoShow 1s ease forwards;
}


.home-heading {
    text-align: center;
    max-width: 632px;
    margin: 0 auto;
    /* margin-top: 187px; */
}

.home-heading h2 {
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #fff;
}

.home-heading p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 0px;
    margin-top: 8px;
    line-height: 27px;
}

.home-section .container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.reveal-text {
    position: relative;
    z-index: 2;
}

.reveal-text span {
    display: block;
    text-align: center;
    font-size: 60px;
    letter-spacing: 4px;
    line-height: 87px;
    color: #fff;
    opacity: 0;
    transform: translateY(80px);
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.9),
        0 0 4px rgba(255, 255, 255, 0.9),
        0 0 10px rgba(255, 255, 255, 0.8);
    animation: textGlow 1s ease forwards;
}

.present-by {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 14px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 14px;
}

/* LEFT LINE */
.present-by::before {
    content: "";
    width: 40px;
    height: 1px;
    background: #fff;
    display: block;
}

/* RIGHT LINE */
.present-by::after {
    content: "";
    width: 40px;
    height: 1px;
    background: #fff;
    display: block;
}

@keyframes textGlow {

    0% {
        opacity: 0;
        transform: translateY(80px);
        text-shadow: none;
    }

    100% {
        opacity: 1;
        transform: translateY(0);

        text-shadow:
            0 0 2px rgba(255, 255, 255, 0.9),
            0 0 4px rgba(255, 255, 255, 0.8),
            0 0 10px rgba(255, 255, 255, 0.5);
    }
}

.reveal-text span:nth-child(2) {
    animation-delay: 0.3s;
}

/* TEXT ANIMATION */
.fade-up {
    opacity: 0;
    transform: translateY(40px);
}

/* ACTIVE ANIMATION */
.swiper-slide-active .fade-up {
    animation: fadeUp .4s ease forwards;
}

/* SLOWER DELAYS */
.swiper-slide-active .delay-1 {
    animation-delay: 0.6s;
}

.swiper-slide-active .delay-2 {
    animation-delay: 0.8s;
}

.swiper-slide-active .delay-3 {
    animation-delay: 0.10s;
}

/* KEYFRAMES */
@keyframes fadeUp {

    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}




@keyframes logoShow {
    0% {
        opacity: 0;
        transform: scale(0.5) rotate(-20deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}


.left-main-box {
    width: 110px;
    min-width: 110px;
    height: 100vh;
    background: var(--bg-wh-light);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    z-index: 3;
}

/* LOGO */

.left-main-logo {
    margin-top: 40px;
}

.left-main-logo img {
    width: 85px;
    height: 85px;
    object-fit: contain;
}

/* WEBSITE LINK */

.left-web-link {
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
    transform-origin: center;
    white-space: nowrap;
}

.left-web-link a {
    text-decoration: none;
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 1px;
}

.main-heading h2 {
    font-size: 36px;
    font-weight: 500;
}

.top-heading {
    padding: 6px 26px;
    background: var(--tag-bg);
    border-radius: 35px;
    color: #064265 !important;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
}

.list-box-1 h3,
.list-box-2 h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.about-mid {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px 10px 52px;

}

.about-key-box .mb-40 {
    margin-bottom: 24px;
}

.about-key-box .mt-40 {
    margin-top: 24px;
}

.about-key-box .list-box-1 {
    padding: 24px;
    background-color: #ffffff1A;
    border: solid 1px var(--box-bg) !important;
    margin-right: 1px;
    border-radius: 30px;
    /* margin-top: 40px; */
}

.about-key-box .list-box-1.bg-dark {
    background: var(--box-dark-bg) !important;
}

.list-box-1 {
    margin-top: 13px;
}

.list-box-2 {
    margin-top: 28px;
}

.list-box-1 li {
    list-style: none;
    position: relative;
    padding-left: 28px;
    margin-top: 4px !important;
    font-size: 14px !important;
    font-weight: 400;
    color: #fff;
}

/* ICON BEFORE */

.list-box-1 li::before {
    content: "\f666";
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    line-height: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 14px;
}

.list-box-1 ul {
    margin-top: 12px;
}

.list-box-2 ul li {
    /* position: relative; */
    padding: 8px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 50px;
    background: var(--box-bg);
    /* border: 1px solid #0054c7; */
}

/* GRADIENT BORDER */

/* .list-box-2 ul li::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 1px;
    background: linear-gradient(180deg,
            #47bcc7 0%,
            #0054c7 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);

    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
} */

/* .list-box-2 ul {
    display: flex;
    align-items: center;
    gap: 15px 18px;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 19px;
} */
.mobile-container{
    display: none;
}
.list-box-2 ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px 18px;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 0;
    font-size: 14px;
}

.about-right {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.services-section .about-key-box {
    width: 90%;
}

/* CENTER GRADIENT STRIP */

.about-shape {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 340px;
    height: 100vh;
    background: var(--gradient);
    z-index: 1;
}

/* IMAGE BOX */
.about-image {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 540px;
    /* padding: 2px; */
    /* border-radius: 45px; */
    overflow: hidden;
    /* background: linear-gradient(180deg, #47bcc7 0%,#0054c7 100%); */
    opacity: 0;
    transform: translateY(100px) scale(.85);
    animation: imageReveal 1.3s ease forwards;
    animation-delay: .4s;
}

/* IMAGE */

.about-image img {
    width: 100%;
    height: 250px;
    /* padding: 2px; */
    /* background: var(--gradient); */
    object-fit: cover;
    border-radius: 30px;
    display: block;
    transform: scale(1.15);
    animation: imageZoom 4s ease forwards;
}

.ServicesImg {
    max-width: 90% !important;
}

.ServicesImg img {
    height: 150px;
}

/* STRIP ANIMATION */
/* ACTIVE ANIMATIONS */
.swiper-slide-active .stripDown {
    animation: stripDown .8s ease forwards;
}

.swiper-slide-active .imageReveal {
    animation: imageReveal 1s ease forwards;
}

.swiper-slide-active .imageZoom {
    animation: imageZoom 1.5s ease forwards;
}

/* KEYFRAMES */

@keyframes stripDown {

    0% {
        top: -100%;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}


/* IMAGE BOX REVEAL */

@keyframes imageReveal {

    0% {
        opacity: 0;
        transform: translateY(100px) scale(.85);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}


/* IMAGE SLOW ZOOM */

@keyframes imageZoom {

    0% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}


.about-mid {
    position: relative;
    z-index: 1;

    overflow: hidden;
}

/* FLOAT ANIMATION */

@keyframes bubbleFloat1 {

    0% {
        transform: translateY(0px) translateX(0px);
    }

    100% {
        transform: translateY(30px) translateX(-20px);
    }
}

@keyframes bubbleFloat2 {

    0% {
        transform: translateY(0px) translateX(0px);
    }

    100% {
        transform: translateY(-25px) translateX(20px);
    }
}

.swiper-slide {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* REMOVE EXTRA SPACE */

.home-section,
.intro-section {
    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;

    overflow: hidden;
}

/* NAVIGATION */
.swiper-button-next,
.swiper-button-prev {
    color: #fff;
    width: 40px;
    height: 40px;
    /* background: rgb(255 255 255 / 17%); */
    background-color: transparent !important;
    /* backdrop-filter: blur(6px); */
    border: solid 1px #fff !important;
    border-radius: 50%;
    transition: .3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: rgba(255, 255, 255, 0.25);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 12px;
    font-weight: bold;
}

.swiper-button-next {
    right: 1px !important;
}

.swiper-button-prev {
    left: 1px !important;
}

.who-we-bottom.about-image {
    /* margin-top: 30px; */
    border-radius: 20px;
    max-width: 1381px;
    margin: 0 auto;
    margin-top: -36px;
}

.who-we-bottom.about-image img {
    /* height: 220px; */
    /* object-position: center 26%; */
    height: 300px;
    border-radius: 20px;
}

.what-do-main-box .main-heading h2 {
    font-size: 27px;
    font-weight: 500;
}

.what-do-main-box .what-do-inner-box,
.vision-box-main {
    padding: 41px 20px;
    /* border: 1px solid red; */
    border-radius: 20px;
    background: #fff;
    color: #000000;
}

.vision-box-main {
    border-radius: 0px;
}

.vision-box-inner {
    display: flex;
    height: 100vh;
}

.vision-box-main p {
    color: #000000;
}

.vision-box-img {
    margin-top: 15px;
}

.vision-box-img img {
    height: 300px;
    width: 100%;
    border-radius: 16px;
}

.what-do-main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 20px;
    padding: 10px;
}

.what-do-inner-box {
    position: relative;
}

.who-we-center {
    width: 250px;
    height: 100vh;
    background: linear-gradient(180deg, #013827 0%, #060707 100%);
    position: absolute;
    z-index: -1;
}

.about-mid.vision-left {
    /* padding-right: 20px; */
    /* max-width: 1182px; */
    margin: 0 auto;
    padding-left: 0px;
    justify-content: start;
}

.about-mid.vision-left::before,
.about-mid.vision-left::after {
    display: none;
}

.what-do-inner-box::before {
    content: "\f44b";
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    position: absolute;
    right: -21px;
    top: -38px;
    font-size: 196px;
    opacity: .2;
    transform: rotate(-15deg);
    /* GRADIENT COLOR */
    background: linear-gradient(180deg,
            #47bcc7 0%,
            #0054c7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.what-do-main-box .what-do-i.about-mid.vision-leftnner-box {
    overflow: hidden;
}


.about-mid.vision-left .main-heading h2 {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
}

.about-mid.vision-left .main-heading h2,
.about-mid.vision-left .main-heading p {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.about-mid.vision-left .list-box-2 ul {
    justify-content: center;
}

.about-mid.vision-left .main-heading {
    /* display: flex; */
    /* flex-direction: column; */
    text-align: center;
    /* margin-top: 38px; */
}





/*  #0063ab*/
/* .home-section {
    background-color: #0063ab;
} */

h1.text-main,
h2.text-main {
    font-size: 50px;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    line-height: 1.5;
}

.thanks-slide p {
    margin-bottom: 0;
    text-align: center;
    color: #fff;
}

.home-banner {
    padding: 80px 20px;
}

.home-section {
    position: relative;
    overflow: hidden;
}

.home-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(184deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 89%) 100%);
    z-index: 1;
}

.home-section>* {
    position: relative;
    z-index: 2;
}

.home-section2 .home-heading {
    text-align: center;
    max-width: 100%;
    margin: 0px;

}

.home-section2 .home-heading h2 {
    line-height: 35px;
    font-size: 29px;
    text-align: left;
    letter-spacing: 3px;
    font-weight: 600;
    color: #fff;
}

.home-section2 .home-heading p {
    text-align: right;
}

.home-section2 .present-main {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 44px;
    border-radius: 19px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.home-section2 .present-main::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: 20px;

    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 255, 255, 0.2) 20%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 255, 255, 0.2) 80%,
            rgba(255, 255, 255, 0.9) 100%);

    background-size: 200% 100%;
    animation: borderMove 5s linear infinite;

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);

    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
}

@keyframes borderMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}



.home-section2 .present-by {
    margin-bottom: 20px;
}

.home-section3 .home-banner {
    justify-content: end;
    padding: 128px 20px;
}

.home-section3 .home-logo {
    text-align: left;
}

.home-section3 .home-heading {
    text-align: left;
    max-width: 100%;
    margin: inherit;
    margin-top: 13px;
}

.home-section3 .present-by::after,
.home-section3 .present-by::before {
    display: none;
}

.home-section3 .text-main {
    font-size: 62px;
    color: #fff;
    text-align: left;
    line-height: 83px;
    max-width: 1031px;
    margin-top: 73px;
}

.home-section3 .container {
    display: block;
}

.mission-vision-section .vision-box-main .main-heading {
    /* max-width: 516px; */
    /* margin-left: auto; */
    padding-right: 16px;
    height: 100%;
}

.mission-vision-section .vision-box-main .main-heading img {
    border-radius: 30px;
    height: 100%;
}

/* .mission-vision-section .img-box {
    height: 50%;
} */

.mission-vision-section .img-box img {
    /* height: 90%; */
    width: 100%;
    border-radius: 20px;
}

.mission-vision-section .vision-box-icon {
    text-align: end;
    margin-bottom: 90px;
}

.mission-vision-section .vision-box-icon img {
    width: 135px;
    height: 135px;
}

.mission-vision-section .main-heading h2 {
    font-size: 52px;
    text-align: end;
    color: #044bd9;
}

.mission-vision-section .vision-box-main p {
    text-align: right;
    line-height: 30px;
    font-size: 17px;
    margin-bottom: 0px;
    margin-top: 21px;
}

.what-box-info {
    padding: 20px;
    background-color: #ffffff1a;
    border-radius: 20px 0 0 20px;
    border: solid 1px var(--box-bg);
}

.mission-vision-section .what-do-inner-box {
    height: 100%;
    background-color: var(--gradient);
    padding-left: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    row-gap: 36px;
}

.mission-vision-section .what-do-inner-box::before,
.what-box-info::before {
    display: none;
}

/* .mission-vision-section .list-box-1 li {
    color: #fff;
    font-size: 17px;
} */

.mission-vision-section .what-do-inner-box .main-heading h2 {
    text-align: left;
    color: #ffffff;
}

.mission-vision-section .list-box-1 ul {
    margin-top: 0px;
}

.mission-vision-section .what-do-inner-box .vision-box-icon {
    text-align: left;
    margin-top: 90px;
    margin-bottom: 0px;
}

.present-left span {
    text-align: left;
    width: 100%;
    margin-bottom: 3px;
    color: #595959;
}

.mission-vision-section .vision-box-main {
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: solid 1px #BAD1C3;
    background: var(--gradient);
}

.mission-vision-section .list-box-1 li::before {
    color: #ffffff;
}

.mission-vision-section .what-do-inner-box h3 {
    font-size: 22px;
}

.mission-vision-section .what-do-inner-box p {
    color: #fff;
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 0;
}

.mission-vision-section .what-do-inner-box.Strengths p,
.what-do-inner-box.Strengths .list-box-1 li {
    font-size: 16px !important;
}

.what-box-info .index-nbr {
    font-size: 20px;
}

.mission-vision-section .what-do-inner-box span {
    background-color: #fff;
    border-radius: 50%;
    padding: 15px;
}

.vision-box-icon span {
    background-color: #12332c;
    border-radius: 50%;
    padding: 15px;
}

.problems-right .about-image {
    padding: 0px;
    max-width: 100%;
    border-radius: 0px;
}

.problems-right .about-image img {
    height: 100vh;
    border-radius: 0px;
    background: none;
    padding: 0px;
}

.problems-right-main {
    position: relative;
}

.problems-right-main .main-heading {
    position: absolute;
    bottom: -5px;
    left: 20px;
    right: 20px;
    z-index: 11;
    padding: 40px 40px;
    background: var(--box-dark-bg);
    border-radius: 20px 20px 0 0;
    border: 2px solid var(--box-bg);
}

.problems-right-main .main-heading h2 {
    color: #fff;
    font-size: 36px;
}

.problems-right-main .main-heading p {
    /* color: #575757; */
    color: #ccc;
}

section.business-problem {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*  */
.before-after-none::before,
.before-after-none::after {
    display: none
}

.service-listing-main {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-top: 20px;
}

.service-listing-main .list-box-1 {
    /* background: #ffffff1A; */
    /* padding: 0; */
    /* border-radius: 20px; */
    /* position: relative; */
    overflow: hidden;
    /* border: solid 1px #d8bc75; */
}

.service-inner {
    padding: 50px 60px 30px 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-inner .main-heading h2 {
    text-align: center;
}

.service-inner .main-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .service-listing-main .list-box-1::before {
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    position: absolute;
    right: 24px;
    top: 24px;
    font-size: 40px;
    opacity: .5;
    transform: rotate(-15deg);
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

/* .service-listing-main .list-box-1:nth-child(1)::before {
    content: "\f121";
}

.service-listing-main .list-box-1:nth-child(2)::before {
    content: "\f544";
}

.service-listing-main .list-box-1:nth-child(3)::before {
    content: "\f3cf";
}

.service-listing-main .list-box-1:nth-child(4)::before {
    content: "\f55b";
} */

.service2-listing-main .list-box-1::before {
    display: none
}

/* .service-list-inner .list-box-1 {
    padding: 10px 10px 10px 20px;
    width: 70%;
} */

.service2-listing-outer {
    padding: 2px;
    border-radius: 30px;
    margin-top: 30px;
    /* background-color: #1a493b; */
    padding: 2px;
    border-radius: 32px;
    overflow: hidden;
}

.service2-listing-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 20px; */
    margin-top: 30px;
    background-color: red;
    padding: 1px;
    border-radius: 40px;
    /* border: solid 1px #d8bc75; */
    /* overflow: hidden; */
}

.border-outer {
    background: var(--gradient);
}

.service-list-inner {
    /* display: flex; */
    gap: 20px;
    align-items: center;
    /* background-color: var(--box-dark-bg); */
    justify-content: space-between;
    /* border-radius: 40px; */
    padding: 20px;
}

/* .service-list-inner.one {
    border-radius: 40px 0 0 0;
}

.service-list-inner.two {
    border-radius: 0 40px 0 0;
    margin-right: 1px;
}

.service-list-inner.three {
    border-radius: 0 0 0 40px;
}

.service-list-inner.four {
    border-radius: 0 0 40px 0;
    margin-right: 1px;
} */

.service-list-img {
    width: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.service-list-img img {
    min-width: 150px;
    width: 100%;
    height: 150px;
    border-radius: 15px;
}

.service-list-img h3 {
    font-size: 22px;
}

.project-process-main {
    position: relative;
    display: flex;
    gap: 20px;
    padding: 20px 20px 20px 60px;
    width: 50%;
    flex-direction: column;
}


.project-circle-text {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SVG */
.project-circle-text svg {
    /* background: linear-gradient(180deg, #013827 0%, #060707 100%); */
    background: linear-gradient(180deg, #013827 0%, #060707 100%);
    width: 100%;
    border-radius: 50%;
    height: 100%;
    animation: rotateText 15s linear infinite;
}

/* Circular Text */
.project-circle-text text {
    fill: #ffffff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 8px;
    text-transform: uppercase;
}

/* Center Dot */
.circle-center-dot {
    position: absolute;
    width: 70px;
    height: 70px;
    background: #ffffff;
    border-radius: 50%;
}

/* Rotation */
@keyframes rotateText {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



.project-process-left2 {
    /* width: 50%; */
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
}

/* .project-process-left-img img {
    height: 391px;
    border-radius: 30px;
    width: 100%;
} */
.project-process-left-img img {
    height: 150px;
    border-radius: 20px;
    width: 100%;
}

.project-process .container-fluid {
    display: flex;
    align-items: center;
    height: 100%;
}

/* 
.project-border-rad-1 .project-process-left-img:nth-child(1) img {
    border-radius: 50px 50px 0px 50px;
}

.project-border-rad-1 .project-process-left-img:nth-child(2) img {
    border-radius: 50px 0px 50px 50px;
}

.project-border-rad-2 .project-process-left-img:nth-child(1) img {
    border-radius: 50px 50px 50px 0px;
}

.project-border-rad-2 .project-process-left-img:nth-child(2) img {
    border-radius: 0px 50px 50px 50px;
} */

.project-procss-inner {
    display: flex;
    align-items: center;
    height: 100%;
}

.process-right-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding: 20px 60px 20px 0px; */
    width: 50%;
    justify-content: center;
    position: relative;
}

.process-right {
    padding: 24px;
    background-color: var(--bg-wh-light);
    border: solid 1px var(--box-bg);
    border-radius: 30px;
    /* height: 100%; */
    min-height: 380px;
    position: relative;
}

.process-right.bg-dark {
    background-color: var(--box-dark-bg) !important;
}

.process-right h2 {
    font-size: 20px;
    font-weight: 600;
}


/* .client-choose-inner-sec {
    padding: 20px 60px;
} */

.client-choose-icon i {
    font-size: 23px;
    /* color: #fff; */
}

.client-choose-icon {
    width: 45px;
    height: 45px;
    background: var(--tag-bg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.client-choose-content h3 span {
    min-width: 36px;
    width: 36px;
    height: 36px;
    background: var(--tag-bg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    color: var(--box-dark-bg);
    font-size: 14px;
}

.client-choose-main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.client-choose-main.one {
    padding-right: 50px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 40px;
    margin-top: 40px;
}

.client-choose-main.two {
    padding-left: 80px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 40px;
    margin-top: 20px;
}

.client-choose-main.one .client-choose-box::before {
    content: "";
    position: absolute;
    left: 50%;
    height: 32px;
    bottom: -42px;
    width: 2px;
    background-color: var(--border-color);
}

.client-choose-main.two .client-choose-box::before {
    content: "";
    position: absolute;
    left: 50%;
    height: 32px;
    top: -42px;
    width: 2px;
    background-color: var(--border-color);
}

.client-middle-border {
    height: 2px;
    background-color: var(--border-color);
    margin: 40px 0;
}

.client-choose-content p {
    margin-bottom: 0px;
    font-size: 14px;
    color: #ccc;
}

.client-choose-box {
    width: calc(32% - 14px);
    /* width: 100%; */
    padding: 20px;
    /* background-color: var(--bg-wh-light); */
    background-color: var(--box-dark-bg);
    border-radius: 10px;
    border: solid 1px var(--border-color);
    position: relative;
}

.client-choose-box img {
    height: 120px;
    width: 100%;
    border-radius: 14px;
}

.client-choose-right-img img {
    border-radius: 20px;
    height: 250px;
    width: 100%;
    max-height: 510px;
}

/*
.client-choose-right-img {
    height: 100%;
    background: var(--gradient);
    border-radius: 20px;
    padding: 2px;
    position: relative;
} */

/* .client-choose-right-img::before {
    content: "";
    top: -70px;
    right: -70px;
    position: absolute;
    width: 600px;
    z-index: -1;
    height: 400px;
    background: var(--gradient);
} */

.client-choose-box:nth-child(4),
.client-choose-box:nth-child(5) {
    width: calc(50% - 10px);
}


.client-choose-content h3 {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: 12px;
}



.tech-marquee-main {
    width: 100%;
    overflow: hidden;
}

.tech-marquee {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.tech-marquee-inner {
    margin-top: 25px;
}

.tech-track {
    display: flex;
    width: max-content;
    gap: 0;
    will-change: transform;
}

.tech-track ul {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0 20px 0 0;
    list-style: none;
    flex-shrink: 0;
}

.tech-track ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    padding: 14px 24px;
    border-radius: 50px;
    background: var(--box-bg);
    font-size: 18px;
    font-weight: 500;
}

.client-choose-section.mt-50,
.client-content-outer {
    margin-top: 50px;
}

.tech-marquee-inner h3 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

/* LEFT TO RIGHT */
.marquee-left .tech-track {
    animation: marqueeLeft 25s linear infinite;
}

.tech-marquee .tech-track ul li {
    padding: 12px 27px;
    font-size: 16px;
}

/* RIGHT TO LEFT */
.marquee-right .tech-track {
    animation: marqueeRight 25s linear infinite;
}

.technologie-box-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 42px 20px;
    padding: 60px 10px 10px 60px;
}

.technologie-box-main .list-box-1 {
    padding: 40px 30px;
    border-radius: 20px;
    background-color: var(--box-dark-bg);
}

.strategic-right-main .main-heading h2 {
    font-size: 52px;
}

@keyframes marqueeLeft {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes marqueeRight {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}


.strategic-circle-main {
    position: relative;
    width: 378px;
}

/* Top Background */
.strategic-circle-bg {
    width: 220px;
    height: 320px;
    position: absolute;
    top: -69px;
    left: 20%;
    margin: auto;
    background: var(--gradient);
    border-radius: 0 0 120px 120px;
}

/* Circle Image */
.strategic-circle-img {
    position: absolute;
    left: 50%;
    bottom: 21px;
    transform: translateX(-50%);
    width: 270px;
    height: 270px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--box-bg);
    background: #fff;
}

.strategic-circle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.strategic-right-main .main-heading {
    display: flex;
    justify-content: center;
}

.strategic-right-main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 60px;
}

/* Image Box */
.strategic-right-img {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    border-radius: 40px 0 0 0;
    overflow: hidden;
    border-top: 3px solid var(--box-bg);
    border-left: 3px solid var(--box-bg);
}

.technologie-box-main .list-box-1 h3 {
    font-size: 30px;
}

.technologie-box-main .list-box-1 ul {
    margin-top: 26px;
}

/* Image */
.strategic-right-img img {
    width: 100%;
    height: 620px;
    object-fit: cover;
    display: block;
}

.client-exp-img img {
    border-radius: 20px;
    height: 120px;
    width: 100%;
}

.client-exp-data h3 {
    font-size: 22px;
    font-weight: 500;
}

.client-exp-data {
    margin-top: 15px;
}

.client-exp-data p {
    margin-bottom: 0px;
    color: #fff;
}

.client-exp-data ul li {
    font-size: 15px;
}

.client-exp-box {
    padding: 20px;
    border-radius: 20px;
    position: relative;
    height: 100%;
    background-color: var(--box-dark-bg);
}

/* .client-exp-box::before {
    content: "";
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: linear-gradient(180deg, #013827 0%, #060707 100%);
    position: absolute;
    border-radius: 20px;
    left: -1px;
    top: -1px;
    z-index: -1;
} */

.client-exp-data h3,
.client-exp-point h3 {
    font-size: 17px;
    font-weight: 500;
}

.client-exp-inner {
    margin-top: 23px;
}

.client-exp-inner-main {
    margin-top: 32px;
    padding-right: 16px;
    padding-left: 6px;
}

.client-exp-inner-main .main-heading {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.client-exp-point h3 {
    color: #fff;
}

.client-exp-point {
    padding: 30px 20px 20px 20px;
    background: var(--gradient);
    border-radius: 20px;
}

/* Main Box */
.industry-drop-box {
    position: relative;
    width: 100%;
    min-height: 215px;
    margin-top: 23px;
    overflow: hidden;
}

/* List */
.industry-drop-box ul {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;

    margin: 0;
    padding: 0;
    list-style: none;
}

/* Items */
.industry-drop-box ul li {
    opacity: 0;
    padding: 9px 28px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    color: #222;
    background: var(--box-bg);
    transform: translateY(-180px) rotate(-8deg);
    animation: dropItem 0.8s cubic-bezier(.22, 1, .36, 1) forwards;
    animation-delay: calc(var(--i) * 0.3s);
}

/* Drop Animation */
@keyframes dropItem {

    0% {
        opacity: 0;
        transform: translateY(-180px) rotate(-8deg);
    }

    70% {
        opacity: 1;
        transform: translateY(15px) rotate(2deg);
    }

    100% {
        opacity: 1;
        transform: translateY(0) rotate(0deg);
    }
}

.phase-data-img img {
    border-radius: 15px;
}

.phase-data {
    padding: 20px;
    border: 1px solid #cfcfcf;
    border-radius: 20px;
    height: 100%;
}

.phase-data-text h3 {
    font-size: 20px;
    font-weight: 600;
}

.phase-data-text {
    margin-top: 14px;
}

.phase-data-text .list-box-1 li {
    margin-top: 9px;
}

.client-exp-data h3 span,
.client-project-goal b {
    color: var(--box-bg);
    font-weight: 600;
}

.client-exp-inner-main.client-project-cat {
    margin-top: 60px;
}

.client-project-goal {
    margin-top: 34px;
}

.client-project-goal p {
    color: #fff;
    margin-bottom: 0;
}

.about-mid span {
    margin-top: 27px;
    color: #fff;
}

.clients-work-right .about-image img {
    height: 208px;
    border-radius: 20px;
}

.clients-work-right .about-image {
    max-width: 439px;
    padding: 2px;
    border-radius: 20px;
}

.about-right.clients-work-right {
    gap: 10px;
    flex-direction: column;
}

.clients-work-right .about-shape {

    right: 0;
    transform: translateX(0%);
}

.clients-work-right .about-image span {
    border-radius: 50px;
    padding: 8px 25px;
    background-color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 14px;
}

.bulid-nex-section {
    height: 100vh;
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bulid-nex-section .main-heading h2 {
    color: #fff;
    text-align: center;
}

.bulid-nex-box {
    background: var(--bg-wh-light);
    border: 1px solid var(--bg-wh-light);
    border-radius: 24px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.08),
        inset 0 0 20px rgba(255, 255, 255, 0.04);
    padding: 35px;
    position: relative;
    overflow: hidden;
    height: 100%;
    color: #fff;
}

.bulid-nex-section .list-box-1 li::before {
    color: #ffffff;
    font-size: 16px;
}

/* .thanks-slide h2 {
    font-size: 90px;
    font-weight: 800;
    text-align: center;
} */

.client-exp-inner.CaseStudies .client-exp-img {
    width: 40%;
    min-width: 40%;
}

.client-exp-inner.CaseStudies .client-exp-img img {
    height: auto;
    border-radius: 10px;
}

.client-exp-inner.CaseStudies .client-exp-box {
    display: flex;
    column-gap: 16px;
}

.client-exp-inner.CaseStudies .client-exp-data h3 {
    font-size: 16px;
}

.client-exp-inner.CaseStudies .client-exp-data p {
    font-size: 13px;
}

.client-exp-inner.CaseStudies .client-exp-img span {
    font-size: 45px;
    color: #fff;
    line-height: 45px;
    margin-top: 12px;
}

.client-exp-inner.CaseStudies .client-exp-data {
    margin-top: 0;
}

.CaseStudies-head {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.CaseStudies-head img {
    max-width: 500px;
    margin-bottom: 24px;
}

.CaseStudies-head .main-heading {
    align-items: start !important;
    width: 55%;
    overflow: hidden;
}

.Macbook-img {
    text-align: center;
    width: 45%;
}

.CaseStudies-box {
    padding-top: 16px;
    border-top: solid 1px var(--border-color);
    margin-top: 16px;
}

.row.CaseStudies-info-row {
    margin-bottom: 16px;
}

.CaseStudies-info-row .process-right {
    padding: 20px;
    min-height: auto;
    height: 100%;
}

.CaseStudies-info-row .list-box-1 li {
    font-size: 15px;
}

.CaseStudies-info-row .process-right h2 {
    font-size: 20px;
}

.Build-box {
    position: relative;
}

.Build-box img {
    border-radius: 20px;
    height: 200px;
    width: 100%;
    transition: all 0.3s;
}

.Build-box:hover .Build-box-data {
    opacity: 1;
    z-index: 2;
}

.Build-box-data {
    position: absolute;
    inset: 0;
    padding: 20px;
    /* background: #032a336e; */
    background: #032a33b0;
    border-radius: 20px;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
}

.Build-box h3 {
    font-size: 20px;
    font-weight: 500;
}

.Build-box p {
    margin-bottom: 0px;
    color: #fff;
}

.contact-list h3 {
    font-size: 22px;
    margin-bottom: 16px;
}

.contact-list ul {
    list-style: none;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.contact-list ul li {
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    padding: 15px;
    border: solid 1px var(--border-color);
    border-radius: 10px;
    margin-bottom: 0;
    transition: all 0.3s;
}

.contact-list ul li:hover {
    background-color: var(--box-dark-bg);
}

.contact-list ul li img {
    width: 15px;
}

.Call-list {
    display: flex;
    align-items: center;
    column-gap: 24px;
    flex-wrap: wrap;
}

.Call-list li::before {
    display: none !important;
}

.Call-list li {
    padding-left: 0;
    margin: 0;
}

.Call-list li a {
    width: 60px;
    height: 60px;
    background: var(--tag-bg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding: 14px;
    transition: all 0.3s;
}

.Call-list li a:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 25px var(--bg-wh-light) !important;
}

.FinalImg img {
    border-radius: 30px;
}

.contact-outer {
    display: flex;
    align-items: center;
    column-gap: 24px;
    padding-top: 24px;
}

.contact-text {
    width: 62%;
}

.contact-outer .FinalImg {
    width: 38%;
}

.col-1 {
    width: 110px;
}

.col-11 {
    width: calc(100% - 110px);
}

.col-5 {
    flex: 0.7;
}

.col-6 {
    flex: 1;
}

.Call-list li a i {
    font-size: 40px;
    color: var(--box-dark-bg);
}

.Call-list li a i.fa-phone {
    font-size: 30px;
}

.contact-footer {
    padding: 24px;
    background-color: var(--box-dark-bg) !important;
    border: solid 1px var(--box-bg) !important;
    margin-right: 1px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.contact-footer .text-box {
    width: 50%;
}

.contact-footer .contactImg {
    width: 50%;
    padding-left: 24px;
}

.contact-footer .contactImg img {
    height: 200px;
    border-radius: 20px;
    width: 100%;
}

.only-tab-land {
    display: none;
}

.only-tab-port {
    display: none;
}

@media (max-width:1200px) {
    .about-right {
        row-gap: 24px;
    }

    .container {
        max-width: 100% !important;
        width: 100% !important;
    }

    /* .col-1, */
    /* .col-11,
    .home-section .container,
    .col-5,
    .col-6,
    .services-section .about-key-box,
    .contact-footer .text-box {
        width: 100% !important;
        max-width: 100% !important;
    } */

    /* .left-main-box {
        width: 100%;
        height: auto;
        justify-content: space-between;
        flex-direction: row;
        padding: 16px;
    } */

    /* .left-main-logo {
        margin-top: 0;
    } */

    /* .left-web-link {
        position: static;
        transform: none;
    } */

    /* .left-web-link a {
        font-size: 14px;
    } */

    /* .left-main-logo img {
        width: 50px;
        height: 50px;
        object-fit: contain;
    } */

    .home-banner {
        padding: 20px;
    }

    h1.text-main,
    h2.text-main {
        font-size: 32px;
    }

    .main-heading h2 {
        line-height: 1.5 !important;
        font-size: 24px !important;
    }

    .mission-vision-section .what-do-inner-box.Strengths p,
    .what-do-inner-box.Strengths .list-box-1 li,
    p {
        font-size: 13px !important;
    }

    .mission-vision-section .vision-box-main {
        height: 40%;
        width: 100%;
        padding: 20px;
    }

    .vision-box-inner {
        flex-wrap: wrap;
    }

    .mission-vision-section .what-do-inner-box {
        height: 60%;
        width: 100%;
    }

    .mission-vision-section .vision-box-main .main-heading img {
        border-radius: 10px;
        height: 100%;
        width: 100%;
    }

    .mission-vision-section .vision-box-main .main-heading {
        padding: 0;
    }

    .intro-section.animated-section {
        position: relative;
    }

    .about-mid {
        padding: 16px !important;
    }

    /* .intro-section .about-image, */
    /* .ServicesImg, */
    .only-desktop {
        display: none !important;
    }

    .list-box-2 ul {
        grid-template-columns: repeat(2, auto);
    }

    .about-key-box .list-box-1 ul {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 10px;
    }

    .list-box-2 ul li,
    .list-box-1 li {
        font-size: 10px !important;
    }

    /* .problems-right .about-image img {
        height: 30% !important;
    }

    .problems-right-main .main-heading {
        bottom: 0;
        top: 20px;
        left: 21%;
        transform: translateX(-50%);
    } */

    .list-box-1 li::before {
        top: 11.5px;
    }

    .service-inner {
        padding: 32px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .about-key-box .mt-40,
    .project-process .row.w-100 {
        margin: 0;
    }

    .project-process .container-fluid {
        padding: 0;
    }

    .project-process-main {
        padding: 20px;
        padding-left: 0;
    }

    /* .project-procss-inner {
        padding: 16px 0;
        flex-direction: column;
    } */

    .list-box-1 h3,
    .list-box-2 h3,
    .process-right h2 {
        font-size: 18px !important;
    }

    .process-right {
        min-height: auto !important;
        padding: 16px;
        border-radius: 15px;
    }

    .project-process-left-img img {
        border-radius: 15px;
    }

    .project-process-main,
    .process-right-main {
        width: 100%;

    }

    .client-choose-main.two,
    .client-choose-main.one {
        padding: 0;
        column-gap: 16px;
    }

    .client-choose-content h3 span {
        font-size: 10px;
        min-width: 24px;
        width: 24px;
        height: 24px;
    }

    .client-choose-content h3,
    .client-exp-data h3,
    .client-exp-point h3 {
        font-size: 14px !important;
    }

    .tech-marquee .tech-track ul li {
        padding: 6px 12px;
    }

    .client-choose-right-img img.h-auto {
        height: 150px !important;
        margin-top: 24px;
    }

    .client-exp-inner-main.client-project-cat {
        margin-top: 24px;
        padding: 0;
    }

    .client-exp-box {
        padding: 16px;
    }

    /* .about-right.clients-work-right {
        flex-direction: row;
    } */

    .left-web-link {
        bottom: 120px;
    }

    .left-web-link a {
        font-size: 15px;
    }

    .contact-list ul li {
        width: 46%;
        overflow-wrap: anywhere;
    }

    .client-choose-box {
        padding: 10px;
    }

    .client-choose-icon {
        width: 35px;
        height: 35px;
    }

    .client-choose-icon i {
        font-size: 16px;
    }

    .home-banner h5 {
        font-weight: 300;
    }

    .what-box-info,
    .mission-vision-section .vision-box-main {
        border-right: 0;
    }

    .Build-box-data {
        opacity: 1 !important;
        padding: 12px;
        border-radius: 12px;
    }

    .Build-box-data p,
    .CaseStudies-box .list-box-1 p {
        font-size: 10px !important;
    }

    .Build-box h3 {
        font-size: 15px !important;
    }

    .Build-box img {
        border-radius: 13px;
        height: 140px;
    }

    .client-exp-inner.CaseStudies .client-exp-data p,
    .client-exp-inner.CaseStudies .client-exp-img span {
        display: none;
    }

    .client-project-goal {
        margin-top: 10px;
    }

    .CaseStudies-head .main-heading h5 {
        font-size: 14px;
    }
}

@media (max-width: 1200px) and (orientation: landscape) {
    .who-we-bottom.about-image img {
        height: 200px;
    }

    .home-banner.thanks-slide {
        padding: 40px;
    }

    .about-image img {
        height: 180px;
    }

    .about-image.mb-4 {
        margin-bottom: 0 !important;
    }

    .about-mid.vision-left .main-heading h2 {
        max-width: 740px;
    }

    .main-heading h2 {
        line-height: 1.2 !important;
        font-size: 20px !important;
    }

    .about-mid li.fw-medium {
        padding: 5px 14px;
    }

    .about-right .about-key-box .list-box-1.bg-dark,
    .about-mid span {
        margin-top: 0;
    }

    .problems-right-main .main-heading,
    .about-key-box .list-box-1 {
        padding: 20px;
    }

    .services-section .about-key-box,
    .ServicesImg {
        width: 100% !important;
        max-width: 100% !important;
    }

    .contact-footer .text-box {
        width: 70% !important;
    }

    .client-exp-inner.CaseStudies .client-exp-box {
        flex-direction: column;
        row-gap: 16px;
    }

    .ServicesImg img {
        height: 130px !important;
    }

    .about-key-box .list-box-1 ul {
        gap: 5px;
    }

    .client-middle-border {
        height: 1px;
        margin: 15px 0;
    }

    .client-choose-main.one {
        margin-top: 15px;
    }

    .client-choose-main.one .client-choose-box::before {
        height: 37px;
        bottom: -37px;
        width: 1px;
    }

    .client-choose-main.two .client-choose-box::before {
        display: none;
    }

    .col-6:has(.client-choose-right-img) {
        flex: 0.5;
    }

    .client-choose-main.tab-choose .client-choose-box {
        width: calc(50% - 10px);
    }

    .list-box-2 {
        margin-top: 8px;
    }

    .client-choose-main.only-tab-land .client-choose-box {
        width: calc(33% - 15px);
    }

    .client-exp-inner {
        margin-top: 0;
    }

    .client-exp-inner.CaseStudies .client-exp-img span {
        font-size: 30px;
        line-height: 30px;
    }

    .CaseStudies-head img {
        max-width: 300px;
        margin-bottom: 16px;
    }

    a.top-heading {
        margin-bottom: 0;
    }

    .CaseStudies-box h5 {
        font-size: 15px;
    }

    .top-heading {
        font-size: 12px;
    }

    .about-right.clients-work-right {
        height: 100vh;
    }

    .about-right.clients-work-right {
        gap: 10px;
        flex-direction: column;
        height: 100vh;
        padding: 16px 16px 16px 0;
    }

    .clients-work-right .about-image span {
        padding: 6px 18px;
    }

    .about-mid.before-after-none .list-box-1 {
        margin-top: 0;
    }

    .list-box-1 h3,
    .list-box-2 h3,
    .process-right h2 {
        font-size: 16px !important;
    }

    /* .mission-vision-section .what-do-inner-box {
        height: 100% !important;
    } */
    .about-key-box .mb-40 {
        margin-bottom: 12px;
        margin-top: 0;
    }

    .only-tab-land {
        display: flex !important;
    }

    .Call-list li a {
        width: 40px;
        height: 40px;
        padding: 0;
    }

    .Call-list li a img {
        max-width: 24px;
    }

    .Call-list li a i {
        font-size: 30px;
    }

    .Call-list li a i.fa-phone {
        font-size: 20px;
    }
}

@media (max-width: 1200px) and (orientation: portrait) {
    .only-tab-port {
        display: flex !important;
    }

    .intro-section.animated-section .about-right {
        row-gap: 0 !important;
    }

    .partners-row .client-exp-box {
        display: flex;
        align-items: stretch;
        column-gap: 12px;
    }

    .partners-row .client-exp-img img {
        height: 100% !important;
    }

    .partners-row .client-exp-data {
        min-width: 75%;
        margin-top: 0 !important;
    }

    .home-banner.first-slide {
        justify-content: space-evenly;
    }

    /* .client-exp-inner .partners-row .col-4 .list-box-1, */
    .only-tab-land,
    .client-middle-border,
    .client-choose-inner-sec .Advantages .tab-choose,
    .client-choose-main.two,
    .client-choose-main.one,
    .no-img-port {
        display: none;
    }

    .client-choose-main.only-tab-port {
        display: grid !important;
        grid-template-columns: repeat(2, auto);
    }

    .client-choose-inner-sec .row {
        align-items: center;
    }

    .client-exp-inner .partners-row {
        flex-direction: column;
    }

    .client-exp-inner .partners-row .col-4 {
        width: 100% !important;
    }

    .client-exp-inner .col-4:has(.Build-box),
    .client-exp-inner.CaseStudies .col-4 {
        width: 50%;
    }

    .client-exp-inner.CaseStudies .client-exp-box {
        flex-direction: column;
        row-gap: 16px;
    }

    .client-exp-inner.CaseStudies .client-exp-img {
        width: 60%;
    }

    .Macbook-img {
        text-align: center;
        width: 100%;
        margin-top: 16px;
    }

    .CaseStudies-head img {
        max-width: 250px;
        margin-bottom: 24px;
    }

    .CaseStudies-head .main-heading {
        align-items: start !important;
        width: 100%;
        overflow: hidden;
    }

    .CaseStudies-box h5 {
        font-size: 13px;
    }

    .row.CaseStudies-info-row .col-3 {
        width: 50%;
    }

    .CaseStudies-head {
        flex-direction: column;
    }

    .intro-section .col-6,
    .business-problem .col-6,
    .services-section .col-6 {
        width: 100%;
        height: 50%;
    }

    .intro-section .col-5,
    .services-section .col-5 {
        position: absolute;
        width: calc(100% - 110px);
        left: 110px;
        bottom: 30px;
    }

    .services-section.Future-Ready .col-5 {
        bottom: 60px;
    }

    .services-section .col-5 .ServicesImg {
        display: none;
    }

    .business-problem .col-5 {
        position: absolute;
        width: calc(100% - 110px);
        left: 110px;
        bottom: 0;
    }

    .problems-right .about-image img {
        height: calc(40vh);
    }

    .intro-section.animated-section .list-box-2.mt-4 {
        margin-top: 0 !important;
    }

    .intro-section .col-5 .about-image {
        margin-bottom: 0 !important;
    }

    .intro-section .col-5 .about-image img {
        height: 120px;
        border-radius: 10px;
    }

    .project-procss-inner,
    .contact-footer {
        flex-direction: column;
    }

    .project-process-main,
    .process-right-main {
        height: 50vh;
    }

    .Call-list li a {
        width: 40px;
        height: 40px;
        padding: 0;
    }

    .Call-list li a img {
        max-width: 24px;
    }

    .Call-list li a i {
        font-size: 30px;
    }

    .Call-list li a i.fa-phone {
        font-size: 20px;
    }

    .contact-text,
    .contact-footer .text-box {
        width: 100%;
    }

    .contact-outer .FinalImg {
        display: none;
    }

    .contact-footer .contactImg {
        width: 100%;
        padding-left: 0;
        margin-top: 24px;
    }

    .Call-list {
        justify-content: center;
    }

    .contact-footer .text-box {
        text-align: center;
    }

    .home-banner.thanks-slide .home-logo img {
        width: 100%;
        max-width: 190px !important;
    }

    .home-banner.thanks-slide {
        justify-content: space-evenly;
    }

    .home-banner.thanks-slide .home-logo {
        margin-top: 32px;
    }

    .contact-outer {
        padding-top: 60px;
    }

}
